@import './node_modules/bootstrap/scss/bootstrap';
@import './var.scss';

html, body {
  height: 100%;
  margin: 0;
}

.App {
  font-family: 'Offside', cursive;
  height: 200vh;
  width: 100vw;
  background: #3f3f3f;
}

.categories-side-bar {
  display: flex;
  padding: 0 12%;
}



