@import './node_modules/bootstrap/scss/bootstrap';
@import '../../var.scss';

.products-carousel {
    color: #fff;
}

.product-info {
    background: $themeBackground;
    width: 100%;
    height: 33%;
}

.carousel-image {
    height: 350px;
}